button {
    margin-top: 1rem;
    padding: 0.8rem 1.2rem;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

#current-page {
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0.5rem;
}